<template name="welcome">
<br>
<br>
<br>
<div class="row featurette">
        <div class="col-md-5">
          <img src="/Pro.jpg" width="450px">
        </div>
      <div class="col-md-7">
          <h1 class="featurette-heading">Superior Notes for the Superior Student.<br><br>
          <h1><span class="text-muted">It'll blow your mind!</span><br><br></h1>
          <h3>Fed's notes comprises a well compiled collection of legible notes to help you study and prepare for your IBH Math, Chemistry, Physics and IBS Economics exam. Notes are organized by subject, grade and chapter and include well labeled diagrams to help you learn more quickly. They are viewable online in our file reader. Gone are the days of decyfering the awful scripture in your notebook!
           </h3>
       </div>
</div>
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<div class="row featurette">
      <div class="col-md-7">
          <h1 class="featurette-heading">Would you like to add your own notes?<br><br>
          <h1><span class="text-muted">Make use of the submit notes feature to add your own notes to the website!</span><br><br></h1>
          <h3>They will be viewable in the all notes section for all users of the site to see. If you are able to put together a substantial coverage of a particular subject and your notes receive significant enough positive feedback you might see them in the Featured section one day.
           </h3>
       </div>
       <div class="col-md-5">
          <img width="460px" src="/Write.JPG">
       <div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</template>