<template name="layout">
<div class="boat">
  <div class="container">
     {{>header}}

  </div>
  <div id="main" class="container row-fluid">
      {{yield}}
    </div>

</div>
<div class="container passenger">

<hr>
<br>
<div class="col-md-2">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdahlia.mit.edu%3A3000&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=1458450111044564" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
</div>
<div class="col-md-10">
<p style="text-align:left; padding-left:40px">Featured Notes: Federico Presutti , Web-dev: Banti Gheneti  &nbsp;|  &nbsp;© 2014 Banti Gheneti and Federico Presutti</p>
</div>
<br>
</div>
</template>
